$default-color: #DDD;
$risk-colors: #6DE #FD2 #F82 #F33;
$syn-colors: #6DE #27F #DF1F67 #81E #FF76D6;


@function text-color($bck-color) {
  @if lightness($bck-color) > 60%
      or lightness($bck-color) > 50%
        and hue($bck-color) >= 30deg
        and hue($bck-color) <= 60deg {
    @return #000;
  }
  @return #FFF;
}


.risk, .synergy {
  i {
    color: $default-color;
  }
  .label {
    background: $default-color;
    color: text-color($default-color);
  }
}

$palette: ("risk": $risk-colors, "synergy": $syn-colors);
@each $type, $colors in $palette {
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .#{$type}-#{$i} {
      i {
        color: $color;
      }
      .label {
        background: $color;
        color: text-color($color);
      }
    }
  }
}
