// Load color palette from Materialize customizations
@use "custom-variables" as *;

@use "_picto-colors";


/* Form elements */

.btn.drug {
  border: 1px solid transparent;
  &:not(.selected) {
    background-color: color("shades", "white");
    color: $secondary-color;
    border-color: $secondary-color;
  }
}


/* Sticky table of contents */

#toc {
  $padding-left: 8px;

  position: sticky;
  top: 100px;
  padding-right: 0;
  .table-of-contents a {
    padding-left: $padding-left;
    &:hover {
      padding-left: $padding-left - 1px;
      color: $secondary-color;
    }
    &.active {
      padding-left: $padding-left - 3px;
      border-width: 3px;
    }
  }
}


/* Interaction cards */

.interaction {
  margin: 20px 0;
  padding: 0 16px;
  .btn-floating {
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.interaction-content {
  clear: both;
  position: relative;
  overflow: hidden;
  &.hidden {
    max-height: 400px;
    min-height: 300px;
  }
  
  .risk, .synergy {
    float: left;
    text-align: center;
    margin-right: 16px;
    .label {
      padding: 0 8px;
      border-radius: 4px;
      margin: 0;
    }
  }
}

.draft-modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: color("shades", "white");
  transition: all ease-in-out .3s;
  p.flow-text {
    text-align: center;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 601px) {
  .interaction-content.hidden {
    max-height: unset;
  }
  
  .draft-modal {
    padding: 22px;
  }
}

@font-face {
  font-family: 'Combinator-Icons';
  font-style: normal;
  font-weight: normal;
  // src: url('../font/combinator.woff') format('woff');
  src: url('/static/drugcombinator/font/combinator.woff') format('woff');
}

.combinator-icons {
  font-family: 'Combinator-Icons';
}
