@use 'sass:math';

// Load color palette from Materialize customizations
@use "custom-variables" as *;

@use "_picto-colors";


/* Form elements */

.btn.drug {
  border: 1px solid transparent;
  &:not(.selected) {
    background-color: color("shades", "white");
    color: $secondary-color;
    border-color: $secondary-color;
  }
}


/* Sidebar */

#sidebar {
  padding-left: 2rem;
  @media only screen and (min-width: 1201px) {
    padding-left: 3rem;
  }
}

#mobile-sidebar {
  $item-height: 32px;

  li {
    line-height: $item-height;

    & > h6, & > a {
      padding: 0 math.div($item-height, 2);
      height: $item-height;
      line-height: $item-height;
    }
    
    & > a.active {
      $border-width: 4px;

      padding-left: math.div($item-height, 2) - $border-width;
      border-left-width: $border-width;
    }
  }
}

#mobile-sidebar-trigger {
  position: fixed;
  right: -4px;
  top: 50%;

  color: #666;
}


/* Sticky table of contents */

#toc {
  $padding-left: 8px;

  top: 100px;
  bottom: 20px;
  padding-right: 10px; // For new-style browsers transparent scrollbars
  overflow-y: scroll;
  .table-of-contents a {
    padding-left: $padding-left;
    &:hover {
      padding-left: $padding-left - 1px;
      color: $secondary-color;
    }
    &.active {
      padding-left: $padding-left - 3px;
      border-width: 3px;
    }
  }
}

footer {
  z-index: 10; // Fix to not make the sticky TOC overlap the footer
}


/* Interaction cards */

.interaction {
  margin: 20px 0;
  padding: 0 16px;
  .btn-floating {
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.interaction-content {
  clear: both;
  position: relative;
  overflow: hidden;
  &.hidden {
    max-height: 400px;
    min-height: 300px;
  }
  
  .risk, .synergy {
    float: left;
    text-align: center;
    margin-right: 16px;
    .label {
      padding: 0 8px;
      border-radius: 4px;
      margin: 0;
    }
  }

  strong {
    font-weight: bolder;
  }
}

.sources {
  .collapsible-body {
    padding: 0;
  }

  .collection-item {
    padding: 10px 10px 5px;

    & > a:first-child {
      display: inline-block;
      max-width: calc(100% - 6rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .badge i {
    vertical-align: text-top;
  }
}


.draft-modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: color("shades", "white");
  transition: all ease-in-out .3s;
  p.flow-text {
    text-align: center;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 601px) {
  .interaction-content.hidden {
    max-height: unset;
  }
  
  .draft-modal {
    padding: 22px;
  }
}

@font-face {
  font-family: 'Combinator-Icons';
  font-style: normal;
  font-weight: normal;
  // src: url('../font/combinator.woff') format('woff');
  src: url('/static/drugcombinator/font/combinator.woff') format('woff');
}

.combinator-icons {
  font-family: 'Combinator-Icons';
}
