/* Load color palette from Materialize customizations */

@import "vendor/components/color-variables";
@import "variables_custom";


/* General purpose classes */

.row.no-margin {
  margin: 0;
}

.not-found {
  color: #F82;
}


/* Form elements */

.btn.drug {
  border: 1px solid transparent;
  margin: 2px 0;
  &:not(.selected) {
    background-color: #FFF;
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

.multiple-select-dropdown li:first-of-type {
  display: none;
}


/* Specific elements */

.interaction {
  margin: 20px 0;
  padding: 0 16px;
  .btn-floating {
    position: absolute;
    top: 28px;
    right: -16px;
  }
}

.interaction-content {
  clear: both;
  position: relative;
  overflow: hidden;
  &.hidden {
    max-height: 400px;
    min-height: 300px;
  }
}

.draft-modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: #FFF;
  transition: all ease-in-out .3s;
  p.flow-text {
    text-align: center;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 601px) {
  .interaction-content.hidden {
    max-height: unset;
  }
  
  .draft-modal {
    padding: 22px;
  }
}

.risk, .synergy {
  float: left;
  text-align: center;
  margin-right: 16px;
  i {
    color: #DDD;
  }
  .label {
    padding: 0 8px;
    border-radius: 4px;
    margin: 0;
    background: #DDD;
  }
}

.risk-1 i { color: #6DE }
.risk-2 i { color: #FD2 }
.risk-3 i { color: #F82 }
.risk-4 i { color: #F33 }

.risk-1 .label { background: #6DE }
.risk-2 .label { background: #FD2 }
.risk-3 .label { background: #F82 }
.risk-4 .label { background: #F33 }

.synergy-1 i { color: #6DE }
.synergy-2 i { color: #27F }
.synergy-3 i { color: #DF1F67 }
.synergy-4 i { color: #81E }
.synergy-5 i { color: #FF76D6 }

.synergy-1 .label { background: #6DE }
.synergy-2 .label { background: #27F }
.synergy-3 .label { background: #DF1F67 }
.synergy-4 .label { background: #81E }
.synergy-5 .label { background: #FF76D6 }

.risk-3 .label,
.risk-4 .label,
.synergy-2 .label,
.synergy-3 .label,
.synergy-4 .label { 
    color: #FFF 
}

@font-face {
  font-family: 'Combinator-Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../font/combinator.woff') format('woff');
}

.combinator-icons {
  font-family: 'Combinator-Icons';
}
