/* 
    Custom variables for Mixtures.info

    This file is not part of the Materialize framework and needs to
    be imported in materialize.scss after "components/variables", eg:
        ...
        @import "components/variables";
        @import "../custom-variables";
        ...
*/


// Explicit import as this file may be imported from somewhere else
@import "vendor/components/color-variables";


// Palette

$primary-color: color("amber", "darken-1");
$secondary-color: color("purple", "base");

$primary-color-dark: color("amber", "darken-2");
$secondary-color-light: color("purple", "lighten-1");
$secondary-color-dark: color("purple", "darken-2");
$warning-color: color("orange", "accent-4");

$link-color: $secondary-color-dark;


// Components color

$footer-copyright-bg-color: $primary-color-dark;

$navbar-font-color: color("shades", "black");
$footer-font-color: color("shades", "black");
$footer-copyright-font-color: color("shades", "black");


// Typo

$h1-fontsize: 3.3rem;
$h2-fontsize: 2.5rem;
$h3-fontsize: 2.2rem;
