/* 
    Custom variables for Mixtures.info

    This file is not part of the Materialize framework and needs to
    be imported in materialize.scss after "components/variables", eg:
        ...
        @import "components/variables";
        @import "../variables_custom";
        ...
*/


// Palette

$primary-color: color("amber", "darken-1");
$secondary-color: color("purple", "base");

$primary-color-dark: color("amber", "darken-2");
$secondary-color-light: color("purple", "lighten-1");
$secondary-color-dark: color("purple", "darken-2");

$em-font-color: color("shades", "black");

$link-color: color("purple", "darken-2");


// Components color

$footer-copyright-bg-color: $primary-color-dark;

$navbar-font-color: $em-font-color;
$footer-font-color: $em-font-color;
$footer-copyright-font-color: $em-font-color;


// Typo

$h1-fontsize: 3.3rem;
$h2-fontsize: 2.7rem;
$h3-fontsize: 2.2rem;
