/* 
    Custom variables for Mixtures.info

    This file is not part of the Materialize framework and needs to
    be imported in materialize.scss after "components/variables", eg:
        ...
        @import "components/variables";
        @import "../variables_custom";
        ...
*/


// Palette

$primary-color: color("amber", "darken-1");
$secondary-color: color("purple", "base");

$primary-color-dark: color("amber", "darken-2");

$link-color: color("purple", "darken-2");


// Components color

$footer-copyright-bg-color: $primary-color-dark;

$navbar-font-color: color("shades", "black");
$footer-font-color: color("shades", "black");
$footer-copyright-font-color: color("shades", "black");


// Typo

$h1-fontsize: 3.3rem;
$h2-fontsize: 2.7rem;
$h3-fontsize: 2.2rem;


// Following allows palette access in HTML classes

.primary-color {
    background-color: $primary-color !important;
}

.primary-color-text {
    color: $primary-color !important;
}