// Load color palette from Materialize customizations
@use "custom-variables" as *;


/* Logos */

.brand-logo img {
  margin: 6px;
  height: 44px;
  @media only screen and (min-width: 601px) {
    height: 52px;
  }
}

.sidenav .logo {
  text-align: center;
  img {
    width: 110px;
    margin: 22px;
  }
}


/* Sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


/* Content width */

main > .container {
  max-width: 960px;
}

/* Forms */

.btn {
  margin: 2px 0;
}

.multiple-select-dropdown li:first-of-type {
  display: none;
}


/* General purpose styles */

.row.no-margin {
  margin: 0;
}


/* Typo */

a, button[type="submit"] {
  font-weight: 600;
}

a.btn {
  font-weight: inherit;
}

p.flow-text i {
  position: relative;
  top: .3rem;
}

h3, h5 {
  i {
    position: relative;
    top: .16rem;
  }
}

.warning {
  color: $warning-color;
}


::selection {
  background: $primary-color;
  color: color("shades", "black");
}
