// Load color palette from Materialize customizations
@use "custom-variables" as *;


/* Logos */

.brand-logo img {
  margin: 6px;
  height: 44px;
  @media only screen and (min-width: 601px) {
    height: 52px;
  }
}

.sidenav .logo {
  text-align: center;
  img {
    width: 110px;
    margin: 22px;
  }
}


/* Sticky footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


/* Content width & grid */

main > .container {
  @media only screen and (min-width: 993px) {
    width: 80%;
  }
}

.max-width-md {
  max-width: 992px;
  margin: auto;
}

.no-margin {
  margin: 0;
}

br.show-on-medium-and-down {
  // Workaround because utilities classes only work on div elements
  @media screen and (min-width: 993px) {
    display: none;
  }
}

/* Forms */

.btn {
  margin: 2px 0;
}

.multiple-select-dropdown li:first-of-type {
  display: none !important;
}


/* People list component */

.people {
  .col {
    margin-bottom: 16px;
  }
  img {
    max-width: 100px;
    transition: all .2s;
  }
  p {
    margin: unset;
  }
  i {
    color: $link-color;
  }
  a {
    font-weight: inherit;
    color: inherit;
    &:hover, &:focus {
      img {
        filter: opacity(.7);
      }
    }
  }
}


/* Typo */

a, button[type="submit"] {
  font-weight: 600;
}

a.btn {
  font-weight: inherit;
}

p.flow-text i {
  position: relative;
  top: .3rem;
}

h3, h5 {
  i {
    position: relative;
    top: .16rem;
  }
}

pre {
  padding: 0 4px;
  white-space: pre-wrap;
  border-radius: 5px;
  background: color("grey", "lighten-4");
  border: 1px solid color("grey", "lighten-1");
}

.warning {
  color: $warning-color;
}


::selection {
  background: $primary-color;
  color: color("shades", "black");
}
