/* Header logo */

.brand-logo img {
    margin: 6px;
    height: 44px;
}

@media only screen and (min-width: 601px) {
    .brand-logo img {
       height: 52px;
    }
}


/* Sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Typo */

a, button[type="submit"] {
    font-weight: 600;
}

a.btn {
    font-weight: inherit;
}

h3 i, h5 i {
    position: relative;
    top: .16rem;
}