{% load i18n %}
{% load collections %}

{% for drug in drugs %}
  {% with data=drug|attr:data_type %}
    {% if data %}
      <p>
        {% blocktranslate trimmed %}
          Interaction data for substance {{ drug }}:
        {% endblocktranslate %}
      </p>
      <blockquote>{{ data }}</blockquote>
    {% else %}
      <p>
        {% blocktranslate trimmed %}
          No interaction data for substance {{ drug }}.
        {% endblocktranslate %}
      </p>
    {% endif %}
  {% endwith %}
{% endfor %}
