[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.0"
dj-database-url = "~=1.0"
django-modeltranslation = "~=0.18"
django-simple-history = "~=3.1"
django-mistune = "~=0.1"
django-hosts = {ref = "9d249d114774ee5a60fe82826bf741aec86cbb46", git = "https://github.com/LeMinaw/django-hosts"}
gunicorn = "*"
whitenoise = "~=5.2"

[dev-packages]
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
