asgiref==3.3.1
dj-database-url==0.5.0
Django==3.1.9
django-heroku==0.3.1
django-hosts @ git+git://github.com/LeMinaw/django-hosts@c465e8f3060634ebc932e85ce8173416b386f77a
django-markdown-deux==1.0.5
django-modeltranslation==0.16.2
django-simple-history==3.0.0
gunicorn==20.0.4
markdown2 @ git+git://github.com/x-yzt/python-markdown2@5ca96f34fff2a37f84a85bc33afd55281ab8c631
psycopg2==2.8.6
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
whitenoise==5.2.0
