{% load i18n %}

{% if interaction.risk == interaction.Risk.NEUTRAL %}
  {% blocktranslate trimmed %}
    The combination of these substances does not significantly increase their risks compared to
    independent use.
  {% endblocktranslate %}
{% elif interaction.risk == interaction.Risk.CAUTION %}
  {% blocktranslate trimmed %}
    This combination presents relatively low physical or mental risks, or may result in risky
    situations.
  {% endblocktranslate %}
{% elif interaction.risk == interaction.Risk.UNSAFE %}
  {% blocktranslate trimmed %}
    The combination of these substances presents non-negligible physical or mental risks.
  {% endblocktranslate %}
{% elif interaction.risk == interaction.Risk.DANGEROUS %}
  {% blocktranslate trimmed %}
    The combination of these substances presents major physical or mental risks.
  {% endblocktranslate %}
{% else %}
  {% blocktranslate trimmed %}
    The risks of this combination are not sufficiently known to be properly estimated.
  {% endblocktranslate %}
{% endif %}
