{% if interaction.risk == interaction.Risk.NEUTRAL %}
La combinaison de ces substances n’augmente pas significativement leurs risques.
{% elif interaction.risk == interaction.Risk.CAUTION %}
La combinaison de ces substances présente un risque faible ou peut déclencher des situations à risque.
{% elif interaction.risk == interaction.Risk.UNSAFE %}
 La combinaison de ces substances présente un risque non négligeable.
{% elif interaction.risk == interaction.Risk.DANGEROUS %}
  La combinaison de ces substances présente un risque important.
{% else %}
  La combinaison de ces substances présente un risque inconnu.
{% endif %}
