{% if interaction.risk == interaction.Risk.NEUTRAL %}
  La combinaison de ces substances n'augmente pas significativement leurs risques 
  par rapport à une consommation indépendante.
{% elif interaction.risk == interaction.Risk.CAUTION %}
  Cette combinaison présente de faibles risques physiques ou mentaux 
  ou peut déclencher des situations à risque.
{% elif interaction.risk == interaction.Risk.UNSAFE %}
  La combinaison de ces substances présente des risques physique ou mentaux non négligeables.
{% elif interaction.risk == interaction.Risk.DANGEROUS %}
  La combinaison de ces substances présente d'importants risques physiques ou mentaux.
{% else %}
  Les risques de cette combinaison ne sont pas assez connus pour être correctement évalués.
{% endif %}
