{% load i18n %}

{% if interaction.synergy == interaction.Synergy.NEUTRAL %}
  {% blocktranslate trimmed %}
    These substances do not interact in any significant way. Their effects are cumulative.
  {% endblocktranslate %}
{% elif interaction.synergy == interaction.Synergy.ADDITIVE %}
  {% blocktranslate trimmed %}
    These substances do not interact significantly. Their effects are similar and add up.
  {% endblocktranslate %}
{% elif interaction.synergy == interaction.Synergy.DECREASE %}
  {% blocktranslate trimmed %}
    The effects of these substances are contradictory and some of them are attenuated.
  {% endblocktranslate %}
{% elif interaction.synergy == interaction.Synergy.INCREASE %}
  {% blocktranslate trimmed %}
    The effects of these substances are multiplied or greatly modified by their combination.
  {% endblocktranslate %}
{% elif interaction.synergy == interaction.Synergy.MIXED %}
  {% blocktranslate trimmed %}
    The combination of these substances attenuates some of their effects and increases others.
  {% endblocktranslate %}
{% else %}
  {% blocktranslate trimmed %}
    The effects of this combination are not known.
  {% endblocktranslate %}
{% endif %}
