{% if interaction.synergy == interaction.Synergy.NEUTRAL %}
  Les effets de ces substances se superposent sans interagir de façon significative.
{% elif interaction.synergy == interaction.Synergy.ADDITIVE %}
  Ces substances n'interagissent pas de façon significative. Leurs effets sont similaires
  et s'additionnent.
{% elif interaction.synergy == interaction.Synergy.DECREASE %}
  Les effets ressentis de ces substances sont contradictoires et s’atténuent.
{% elif interaction.synergy == interaction.Synergy.INCREASE %}
  Les effets de ces substances sont multipliés ou fortement modifiés par leur combinaison.
{% elif interaction.synergy == interaction.Synergy.MIXED %}
  La combinaison de ces substances atténue certains de leurs effet et en augmente d'autres.
{% else %}
  Les effets de cette combinaison ne sont pas connus.
{% endif %}
