{% if interaction %}
  {% if interaction.synergy == interaction.Synergy.NEUTRAL %}
    <i class="material-icons {{ class }}">sync_alt</i>
  {% elif interaction.synergy == interaction.Synergy.ADDITIVE %}
    <i class="material-icons combinator-icons {{ class }}">add</i>
  {% elif interaction.synergy == interaction.Synergy.DECREASE %}
    <i class="material-icons {{ class }}">trending_down</i>
  {% elif interaction.synergy == interaction.Synergy.INCREASE %}
    <i class="material-icons {{ class }}">trending_up</i>
  {% elif interaction.synergy == interaction.Synergy.MIXED %}
    <i class="material-icons {{ class }}">shuffle</i>
  {% else %}
    <i class="material-icons {{ class }}">help_outline</i>
  {% endif %}
{% else %}
  <i class="material-icons {{ class }}">help_outline</i>
{% endif %}