.btn.drug {
    border: 1px solid transparent;
    margin: 2px 0;
}

.btn.drug:not(.selected) {
    background-color: #FFF;
    color: #9c27b0;
    border-color: #9c27b0;
}

.risk, .pharmaco {
    float: left;
    text-align: center;
    margin-right: 16px;
}

.risk i, .pharmaco i {
    color: #DDD;
}

.risk .label, .pharmaco .label {
    padding: 0 8px;
    border-radius: 4px;
    margin: 0;
    background: #DDD;
}

.risk-1 i { color: #6DE }
.risk-2 i { color: #FD2 }
.risk-3 i { color: #F82 }
.risk-4 i { color: #F33 }

.risk-1 .label { background: #6DE }
.risk-2 .label { background: #FD2 }
.risk-3 .label { background: #F82 }
.risk-4 .label { background: #F33 }

.risk-3 .label, .risk-4 .label { color: #FFF }

.pharmaco-1 i { color: #6DE }
.pharmaco-2 i { color: #27F }
.pharmaco-3 i { color: #F44 }
.pharmaco-4 i { color: #81E }

.pharmaco-1 .label { background: #6DE }
.pharmaco-2 .label { background: #27F }
.pharmaco-3 .label { background: #F44 }
.pharmaco-4 .label { background: #81E }

.pharmaco-2, .pharmaco-3 .label, .pharmaco-4 .label { color: #FFF }