{% extends 'drugcombinator/iframes/base.html' %}

{% load static %}

{% block styles %}
  <style>
    {% if text_color %}
      * {
        color: #{{ text_color }};
      }
    {% elif theme == "dark" %}
      * {
        color: #FFF;
      }
    {% elif theme == "auto" %}
      @media (prefers-color-scheme: dark) {
        * {
          color: #FFF;
        }
      }
    {% endif %}
  </style>
{% endblock %}

{% block content %}
  <h1>{{ drug }} : Récapitulatif des interactions</h1>

  <div class="cards">
    {% for interaction in interactions %}
      <div class="risk risk-{{ interaction.risk }}">
        <a class="label" href="{{ interaction.get_absolute_url }}">
          {{ interaction.drug }}
          <br/>
          {% include 'drugcombinator/combine_info/synergy_icon.html' %}
        </a>
      </div>
    {% endfor %}
  </div>

  <label for="show-legend">Voir la légende</label>
  <input type="checkbox" id="show-legend" />

  {% include 'drugcombinator/iframes/legend.html' %}
{% endblock %}

{% block full_url %}
  {{ drug.get_absolute_url }}
{% endblock %}
