{% extends 'mixtures/base.html' %}

{% load i18n %}

{% block title %}
  {% translate 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row center-align">
    <h1>{% translate 'Error 404: Page not found.' %}</h1>
  </div>
  <div class="row center-align">
    <h2>
      <i class="material-icons large">self_improvement</i><br/>
      {% translate "There's nothing there." %}
    </h2>
  </div>
  <div class="row">
    <p class="flow-text">
      {% url 'main' as main_url %}
      {% url 'drug_search' as search_url %}
      {% blocktranslate trimmed %}
        You can <a href="{{ main_url }}">return to the home page</a>. Or perhaps you prefer to
        <a href="{{ search_url }}">search for a substance</a>?
      {% endblocktranslate %}
    </p>
  </div>
{% endblock %}
