{% load static %}
{% load i18n %}
{% load strings %}

{% get_current_language as current_language %}

<!DOCTYPE html>
<html lang="{{ current_language }}">
  <head>
    <title>{% block title %}Mixtures.info{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content=
      {% filter stripspaces %}"{% block description %}{% blocktranslate trimmed %}
        Mixtures.info is a harm reduction application, dedicated to the synergies and risks of drug
        interactions.
      {% endblocktranslate %}{% endblock %}"{% endfilter %}
    >
    <meta property="og:image"
      content="{{ request.scheme }}://{{ request.get_host }}{% static 'mixtures/img/og-icon.jpg' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'mixtures/img/icon.png' %}"/>
    <link rel="apple-touch-icon" type="image/png" href="{% static 'mixtures/img/touch-icon.png' %}"/>
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'mixtures/css/materialize.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'mixtures/css/base.min.css' %}"/>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        media="none"
        onload="if (media != 'all') media = 'all'"
      />
    {% endblock %}
    {% block rels %}{% endblock %}
  </head>
    
  <body>
    {% block body %}
      <header>
        <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper container">
              <a href="/" class="brand-logo valign-wrapper">
                {% block logo %}
                  <img src="{% static 'mixtures/img/logo.svg' %}" alt="Mixtures.info logo"/>
                {% endblock %}
              </a>

              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>

              <ul class="right hide-on-med-and-down">
                {% block nav-links %}
                  <li><a href="{% url 'main' %}">{% translate 'Combinations' %}</a></li>
                  <li><a href="{% url 'drug_search' %}">{% translate 'Substances' %}</a></li>
                  <li><a href="{% url 'index' %}">{% translate 'Blog' %}</a></li>
                  <li><a href="{% url 'docs' %}">{% translate 'API' %}</a></li>
                  <li><a href="{% url 'about' %}">{% translate 'About' %}</a></li>
                {% endblock %}
                <li>{% include 'mixtures/language_selector.html' %}</li>
              </ul>
            </div>
          </nav>
        </div>

        <ul class="sidenav" id="mobile-nav">
          <li class="logo">
            <img src="{% static 'mixtures/img/icon.svg' %}" alt="Mixtures.info logo"/>
          </li>

          <li><div class="divider"></div></li>

          {% block nav-links-mobile %}
            <li><a class="waves-effect" href="{% url 'main' %}">
              <i class="material-icons">merge_type</i>{% translate 'Combinations' %}
            </a></li>
            <li><a class="waves-effect" href="{% url 'drug_search' %}">
              <i class="material-icons">bubble_chart</i>{% translate 'Substances' %}
            </a></li>
            <li><a class="waves-effect" href="{% url 'index' %}">
              <i class="material-icons">question_answer</i>{% translate 'Blog' %}
            </a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{% url 'docs' %}">
              <i class="material-icons">code</i>{% translate 'API' %}
            </a></li>
            <li><a class="waves-effect" href="{% url 'about' %}">
              <i class="material-icons">help_outline</i>{% translate 'About' %}
            </a></li>
          {% endblock %}
          <li><div class="divider"></div></li>
          <li>{% include 'mixtures/language_selector.html' with text=_('Language') %}</li>
        </ul>
      </header>
        
      <main>
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </main>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5><i class="material-icons">help_outline</i> Mixtures.info</h5>
              {% blocktranslate trimmed %}
                <p>
                  This application is aimed at reducing the risks associated with drug use, and is
                  offered for informational purposes only.
                </p>
                <p>
                  Psychoactive substance use always involves risks. Always do additional research
                  before taking some.
                </p>
              {% endblocktranslate %}
            </div>

            <div class="col l5 offset-l1 s12">
              <h5><i class="material-icons">link</i> {% translate 'Useful links' %}</h5>
              <ul>
                <li>
                  {% with attrs='href="https://www.psychonaut.fr" rel="nofollow"' %}
                    {% blocktranslate trimmed %}
                      <a {{ attrs }}>Psychonaut</a>, forum about psychoactives and psychonautism
                    {% endblocktranslate %}
                  {% endwith %}
                </li>
                <li>
                  {% with attrs='href="https://psychonautwiki.org" rel="nofollow"' %}
                    {% blocktranslate trimmed %}
                      <a {{ attrs }}>PsychonautWiki</a>, free encyclopedia of psychoactives
                    {% endblocktranslate %}
                  {% endwith %}
                </li>
                <li>
                  {% with attrs='href="https://github.com/x-yzt/mixtures" rel="nofollow"' %}
                    {% blocktranslate trimmed %}
                      <a {{ attrs }}>Source code</a> of this application
                    {% endblocktranslate %}
                  {% endwith %}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="footer-copyright">
          <div class="container">
            <span class="left">
              {% with link='<a href="mailto://xyzt@psychonaut.fr">xyzt_</a>' %}
                {% blocktranslate trimmed %}
                  Programmed and designed by {{ link }}
                {% endblocktranslate %}
              {% endwith %}
            </span>
            <span class="right">
              <a href="{% url 'admin:index' %}">{% translate 'Contributor access'%}</a>
            </span>
          </div>
        </div>
      </footer>
    {% endblock %}
      
    {% block scripts %}
      <script src="{% static 'mixtures/js/materialize.min.js' %}"></script>
      <script src="{% static 'mixtures/js/language_selector.js' %}"></script>
      <script src="{% url 'i18n' %}"></script>
      <script>M.AutoInit();</script>
    {% endblock %}
  </body>
</html>
