{% load i18n %}
{% load strings %}

{% get_available_languages as languages %}
{% get_current_language as current_language %}
{% uuid as id %}

<form id="lang-form" class="browser-default" action="{% url 'set_language' %}" method="post" hidden>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
  <select name="language">
    {% for lang in languages %}
      <option {% if lang == current_language %}selected{% endif %} value="{{ lang.0 }}"></option>
    {% endfor %}
  </select>
</form>

<a class="lang-selector dropdown-trigger" href="#" data-target="{{ id }}">
  <i class="material-icons">language</i>{{ text }}
</a>

<ul id="{{ id }}" class="lang-dropdown dropdown-content">
  {% for lang in languages %}
    <li><a href="" data-value="{{ lang.0 }}">{{ lang.1 }}</a></li>
  {% endfor %}
</ul>
