{% extends 'mixtures/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load strings %}

{% block title %}
  {% blocktranslate with site=block.super trimmed %}
    About {{ site }}
  {% endblocktranslate %}
{% endblock %}

{% block content %}
  <div class="max-width-md">
    <div class="row">
      <h1>
        {% blocktranslate with site='Mixtures.info' trimmed %}
          About {{ site }}
        {% endblocktranslate %}
      </h1>
    </div>

    <div class="row">
      <h2 id="contributors">
        <i class="material-icons small">group</i> {% translate 'Contributors' %}
      </h2>

      <p>
        {% blocktranslate trimmed %}
          The data avalaible on Mixtures.info is the labour of these people. We thank them from our
          very hearts 💜 !
        {% endblocktranslate %}
      </p>
      
      <div class="people row">
        {% for contributor in contributors %}
          <div class="col s6 m4 l3 center-align">
            {% if contributor.page %}
              <a href="{{ contributor.page }}" rel="external nofollow">
            {% endif %}
            <img
              class="circle responsive-img" src="{{ contributor.avatar_url }}"
              alt="Avatar de {{ contributor }}"
            />
            <p class="flow-text">
              {% if contributor.page %}
                <i class="material-icons small">open_in_new</i>
              {% endif %}
              {{ contributor }}
            </p>
            {% if contributor.page %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <h2 id="faq">
        <i class="material-icons small">help_outline</i>
        {% translate 'Frequently asked questions' %}
      </h2>

      <ul class="collapsible">
        {% echosafe '<a href="mailto://contact@mixtures.info">contact@mixtures.info</a>' as contact_link %}
        {% echosafe 'href="#data-quality"' as qa_attrs %}
        {% echosafe 'href="https://github.com/x-yzt/mixtures/"' as gh_attrs %}
        {% echosafe 'href="https://github.com/x-yzt/mixtures/issues"' as bt_attrs %}

        <li>
          <div class="collapsible-header">
            <i class="material-icons">sms_failed</i> {% translate 'I found wrong data !' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% blocktranslate trimmed %}
                Despite the care we put into it, it is possible that errors appear on this
                application. Please contact us at {{ contact_link }} to report any content you feel
                to be incorrect.
              {% endblocktranslate %}
            </p>
            <p>
              {% blocktranslate with icon='<i class="material-icons tiny">create</i>' trimmed %}
                It is also possible to suggest modifications using the dedicated forms using the
                {{ icon }} icon on the interaction cards.
              {% endblocktranslate %}
            <p>
              {% blocktranslate trimmed %}
                If your contribution meets our <a {{ qa_attrs }}>data quality criteria</a>, even
                better.
              {% endblocktranslate %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons small">group_work</i> {% translate 'How can I contribute?' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% blocktranslate trimmed %}
                Thank you for being willing to help us! If you wish to enrich our database, please
                send your contributions to {{ contact_link }}. Please read our 
                <a {{ qa_attrs }}>data quality criteria</a> beforehand.
              {% endblocktranslate %}
            </p>
            <p>
              {% blocktranslate trimmed %}
                If you wish to make periodic contributions or if you represent an association,
                please contact us at {{ contact_link }} in order to obtain personalized access to
                the publishing interface.
              {% endblocktranslate %}
            </p>
            <p>
              {% blocktranslate trimmed %}
                Mixtures.info is a collaborative project that cannot exist without contributions!
              {% endblocktranslate %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons small">star_half</i>
            {% translate 'What is the "reliability" variable?' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% blocktranslate trimmed %}
                In a concern of transparency, the information provided by Mixtures.info is
                accompanied by a reliability index, which indicates the level of certainty of the
                delivered information.
              {% endblocktranslate %}
            </p>
            <ul class="browser-default">
              <li>
                <b>{% translate 'Hypothetical:' %}</b>
                {% blocktranslate trimmed %}
                  the sources are not sufficient to reach a conclusion, because they are rare or
                  contradictory. It is necessary to make hypotheses from the properties of the
                  substances or from a few testimonies.
                {% endblocktranslate %}
              </li>
              <li>
                <b>{% translate 'Inferred:' %}</b>
                {% blocktranslate trimmed %}
                  the data is based on a large number of testimonies. Some scientific studies can
                  support them.
                {% endblocktranslate %}
              </li>
              <li>
                <b>{% translate 'Proven:' %}</b>
                {% blocktranslate trimmed %}
                  the data are the result of a solid convergence of testimonies and scientific
                  knowledge.
                {% endblocktranslate %}
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons small">vertical_split</i>
            {% translate 'Why separate Synergy and Risk?' %}
          </div>
          <div class="collapsible-body">
            <ul class="browser-default">
              <li>
                {% blocktranslate trimmed %}
                  The <b>Synergy</b> section compiles information about the effects of a combination
                  and the mechanisms behind it, without assessing its dangerousness. It addresses a
                  goal of accessibility of knowledge.
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  The <b>Risk</b> section is for people who would like to know more concretely what
                  is involved in mixing two substances. It addresses a goal of harm reduction.
                {% endblocktranslate %}
              </li>
            </ul>
            <p>
              {% blocktranslate trimmed %}
                Separating these two sections allows us to be more precise, to integrate more
                information, and to better address the needs of the readers: knowledge, safety,
                or both. People who want to integrate our data into third-party applications can
                choose the ones they are interested in.
              {% endblocktranslate %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons small">face</i> {% translate 'Who is behind Mixtures.info ?' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% blocktranslate with attrs='href="#contributors"' trimmed %}
                This application is the brainchild of <b>Tridimensionnel</b>, editorial coordinator,
                and <b>xyzt_</b>, software engineer. However, Mixtures.info would be nothing without
                its wonderful team of <a {{ attrs }}>contributors</a>.
              {% endblocktranslate %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons small">all_inclusive</i>
            {% translate 'Did you lose your mind with gender-inclusive writing?' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% translate "That's how it is (and that's final)." %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">bug_report</i> {% translate 'I found a bug!' %}
          </div>
          <div class="collapsible-body">
            <p>
              {% blocktranslate trimmed %}
                Oops! Designing applications is not always easy, and it is possible that some
                defects have slipped into the source code of Mixtures.info. You can report any
                anomaly by opening a ticket on our <a {{ bt_attrs }}>bug tracker</a>.
              {% endblocktranslate %}
            </p>
            <p>
              {% blocktranslate trimmed %}
                For any suggestion, remark or amazing idea, you are also very welcome on our bug
                tracker. 
              {% endblocktranslate %}
            </p>
          </div>
        </li>
      </ul>

        <h2 id="data-quality">
          <i class="material-icons small">playlist_add_check</i>
          {% translate 'Data quality and reliability' %}
        </h2>

        <p>
          {% blocktranslate trimmed %}
            The quality of the data provided by Mixtures.info is a subject we are particularly
            concerned of.
          {% endblocktranslate %}
        </p>
        <p>
          {% translate 'https://en.wikipedia.org/wiki/Wikipedia:No_original_research' as or_url %}
          {% echosafe 'href="' or_url '"' as or_attrs %}
          {% blocktranslate trimmed %}
            Each piece of information <b>must be sourced</b>, i.e. accompanied by a link to a
            resource testifying the validity of the information. Mixtures.info is ideally <b>not</b>
            a place to produce <a {{ or_attrs }}>original research</a>, but a place to gather
            <b>verifiable</b> information. Note that while wikis or forums are valuable tools, often
            linked to many high-quality sources, they are <b>not</b> in themselves sufficient
            sources.
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            Moreover, all information must be <b>moderated</b> in accordance with the quality of its
            origin. It is thus appropriate to distinguish:
          {% endblocktranslate %}
          <ul class="browser-default">
            {% blocktranslate trimmed %}
              <li>Sources of low to average reliability, such as testimonials or cross-checking of
                testimonies;</li>
              <li>Sources of reasonable reliability, such as valid scientific studies cross-checked
                by testimonies;</li>
              <li>Highly reliable sources, such as valid meta-studies cross-referenced with
                testimonials.</li>
            {% endblocktranslate %}
          </ul>
        </p>
        <p>
          {% translate 'Example of an <b>invalid</b> contribution:' %}
          <blockquote><em>
            {% blocktranslate trimmed %}
              Polyuse of stimulants and depressants leads to more abuse than with each product
              alone. There is a high risk of addiction.
            {% endblocktranslate %}
          </em></blockquote>
          {% translate 'Example of a <b>valid</b> contribution:' %}
          <blockquote><em>
            {% echosafe 'target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/9088780"' as r1_attrs %}
            {% echosafe 'target="_blank" href="https://erowid.org/experiences/exp.php?ID=4390"' as r2_attrs %}
            {% blocktranslate trimmed %}
              <a {{ r1_attrs }}>This study</a> shows that polyuse of stimulants and depressants
              would correlate with more risky practices and side effects than stimulant use alone.
              For example, in <a {{ r2_attrs }}>this testimony</a>, the author's addiction to
              alprazolam was a consequence of their weekly MDMA use.
            {% endblocktranslate %}
          </em></blockquote>
          {% blocktranslate trimmed %}
            In the valid contribution, each piece of information is linked to its source: here, a
            study and a testimony. The study is probably a more solid source than the testimony, but
            it is not always possible to find one: the important thing is to be explicit about the
            nature of the source ("<em>this study</em>", "<em>this testimony"</em>), to not make
            information seem more reliable than it is. Also, since a single study is not very strong
            evidence, a conditional tone is used ("<em>would be correlated</em>").
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            In the end, the same thing was said as in the first example, but <b>without asserting
            anything on its own</b> and giving an <b>accurate picture</b> of the state of knowledge.
            These differences may seem minor, but applying these guidelines allows the reader to
            verify the information. False data can be life threatening, hence it is unthinkable to
            ask to be taken at face value.
          {% endblocktranslate %}
        </p>

        <h2 id="open-data">
          <i class="material-icons small">lock_open</i>
          {% translate 'Open source and open data licenses' %}
        </h2>
        <p>
          {% translate 'https://en.wikipedia.org/wiki/Free_software' as fs_url %}
          {% translate 'https://en.wikipedia.org/wiki/Open-source_software' as oss_url %}
          {% translate 'https://www.gnu.org/licenses/gpl-3.0.en.html' as gpl_url %}
          {% echosafe 'href="' fs_url '"' as fs_attrs %}
          {% echosafe 'href="' oss_url '"' as oss_attrs %}
          {% echosafe 'href="' gpl_url '"' as gpl_attrs %}
          {% blocktranslate trimmed %}
            Mixtures.info is a <a {{ fs_attrs }}>free</a>, <a {{ oss_attrs }}>open source</a>
            software, distributed under the <a {{ gpl_attrs }}>GPLv3</a> license. Its entire source
            code is available on <a {{ gh_attrs }}>GitHub</a>. This means you are free to understand
            the inner operation of this application, but also to contribute to it or copy it, as
            long as you respect this license.
          {% endblocktranslate %}
        </p>
        <p>
          {% translate 'https://en.wikipedia.org/wiki/Open_data' as od_url %}
          {% translate 'https://creativecommons.org/licenses/by-sa/4.0/deed.en' as cc_url %}
          {% echosafe 'href="' od_url '"' as od_attrs %}
          {% echosafe 'href="' cc_url '"' as cc_attrs %}
          {% blocktranslate trimmed %}
            The data provided by Mixtures.info is also free, since it is distributed as
            <a {{ od_attrs }}>open data</a>. They are however distributed under the
            <a {{ cc_attrs }}>CC-BY-SA 4.0</a> license.
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            Please consult the relevant licenses to find out what you can and cannot legally do.
          {% endblocktranslate %}
        </p>

        <h2>
          <i class="material-icons small">build</i> {% translate 'Technologies used' %}
        </h2>
        <p>
          {% blocktranslate trimmed %}
            Mixtures.info is programmed in Python using the Django framework. The display uses the
            Materialize framework. The application is now hosted on the wonderful fly.io platform,
            since Heroku kicked us out by changing their pricing policy. For an exhaustive list of 
            software libraries in use, please see the <a{{ gh_attrs }}>source code</a>.
          {% endblocktranslate %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
