{% extends 'mixtures/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
  À propos de {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <h1>À propos de Mixtures.info</h1>
  </div>

  <div class="row">
    <h2>
      <i class="material-icons small">group</i> Contributeurices
    </h2>

    <p>
      Les données présentes sur Mixtures.info sont le fruit du travail des ces personnes. Nous les
      en remercions du fond du coeur 💜 !
    </p>
    
    <div class="people row">
      {% for contributor in contributors %}
        <div class="col s6 m4 l3 center-align">
          {% if contributor.page %}
            <a href="{{ contributor.page }}" rel="external nofollow">
          {% endif %}
          <img
            class="circle responsive-img" src="{{ contributor.avatar_url }}"
            alt="Avatar de {{ contributor }}"
          />
          <p class="flow-text">
            {% if contributor.page %}
              <i class="material-icons small">open_in_new</i>
            {% endif %}
            {{ contributor }}
          </p>
          {% if contributor.page %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <h2>
      <i class="material-icons small">help_outline</i> Questions fréquentes
    </h2>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">sms_failed</i> J'ai trouvé une donnée incorrecte !
        </div>
        <div class="collapsible-body">
          <p>
            Malgré le soin que nous y apportons, il est possible que des erreurs figurent sur cette
            application. <a href="mailto://contact@mixtures.info">Contactez-nous</a> pour nous
            signaler tout contenu que vous jugeriez incorrect.
          </p>
          <p>
            Si votre contribution respecte nos <a href="#data-quality">critères de qualité des
            données</a>, c'est encore mieux.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons small">group_work</i> Comment puis-je contribuer ?
        </div>
        <div class="collapsible-body">
          <p>
            Merci de voulor nous aider ! Si vous désirez compléter notre base de données, faites
            nous parvenir vos contributions à <a href="mailto://contact@mixtures.info">cette adresse
            mail</a>. N'hésitez pas à prendre connaissance de nos <a href="#data-quality">critères
            de qualité des données</a> au préalable.
          </p>
          <p>
            Si vous désirez apporter une contribution régulière ou que vous représentez une
            association, n'hésitez pas à <a href="mailto://contact@mixtures.info">nous
            contacter</a>.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons small">face</i> Qui se cache derrière Mixtures.info ?
        </div>
        <div class="collapsible-body">
          <p>
            Cette application est le fruit du dur labeur de xyzt_, une développeuse bénévole
            soucieuse de son anonymat. Les données sont quant à elles issues de contributrices et de
            contributeurs divers&middot;es, qui seront crédité&middot;e&middot;s ici.
          </p>
          <p>
            Toutefois, Mixtures.info n'aurait pas pû voir le jour sans le soutient sans faille
            d'un&middot;e certain&middot;e Tridimensionnel, ni sans les autres copènes du forum
            <a href"https://psychonaut.fr">Psychonaut</a>. Merci à eux.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">bug_report</i> J'ai trouvé un bug !
        </div>
        <div class="collapsible-body">
          <p>
            Oups ! Concevoir des applications n'est pas toujours facile, et il se peut que quelques
            malfaçons se soient glissées dans le code source de Mixtures.info. Vous pouvez signaler
            toute anomalie en ouvrant un ticket sur notre
            <a href="https://github.com/x-yzt/mixtures/issues">bug tracker</a>.
          </p>
          <p>
            Pour toute suggestion, remarque ou idée géniale, vous êtes également les bienvenus sur
            notre bug tracker. 
          </p>
        </div>
      </li>
    </ul>

    <h2 id="data-quality">
      <i class="material-icons small">playlist_add_check</i> Qualité et fiabilité des données
    </h2>

    <p>
      La qualité des données présentes sur Mixtures.info est un sujet qui nous préoccupe
      particulièrement.
    </p>
    <p>
      Chaque information qui y est présente <b>doit être sourcée</b>, c'est à dire accompagnée d'un
      lien vers une ressource attestant de la validité l'information. Mixtures.info n'est idéalement
      <b>pas</b> un lieu destiné à produire du <a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia
      :Travaux_in%C3%A9dits#Qu'est-ce_qu'un_travail_in%C3%A9dit_?"> travail inédit </a>, mais un
      lieu destiné à regrouper des informations <b>vérifiables</b>. À noter que si les wikis ou
      forums sont des outils précieux, souvent liés à de nombreuses sources de qualité, ils ne
      constituents <b>pas</b> en eux-mêmes des sources suffisantes.
    </p>
    <p>
      D'autre part, toute information doit être <b>modérée</b> selon la qualitée de son origine. Il
      convient ainsi de différencier :
      <ul class="browser-default">
        <li>Les sources de faible à moyenne fiabilité, tels que les témoignages ou
        recoupements de témoignages ;</li>
        <li>Les sources de fiabilité convenable, telles les études scientifiques valides
        recoupées par des témoignages ;</li>
        <li>Les sources de forte fiabilité, telles les méta-études valides recoupées par des
        témoignages.</li>
      </ul>
    </p>
    <p>
      Exemple de contribution invalide :
      <blockquote><em>
        La substance A étant un libérateur de la sérotonine et la substance B un inhibiteur de la
        recapture de cette dernière, la combinaison de ces deux substances expose à un risque de
        syndrome sérotoninergique.
      </em></blockquote>
      Exemple de contribution valide :
      <blockquote><em>
        La substance A étant un libérateur de la sérotonine et la MXE un inhibiteur de la recapture
        de cette dernière, la combinaison de ces deux substances expose <b>théoriquement</b> à un
        risque de syndrome sérotoninergique, <b>comme rapporté par <a href
        "https://www.erowid.org/experiences/exp.php?ID=98338">ce témoignage</b></a>. <b>Néanmoins,
        aucune étude scientifique ne le prouve.</b>
      </em></blockquote>
      Ici, le propos est appuyé par un témoignage singulier en l'absence de source plus fiable. Ce
      n'est pas un problème en soi, mais il faut le signaler explicitement. Il est ainsi préférable
      de choisir des noms de liens explicites, tels que "témoignage", "article" ou "étude", à des
      noms plus génériques tels que "source". On note également l'apparition du mot "théoriquement",
      qui signale qu'en toute logique le risque peut exister, mais qu'aucune étude n'en faisant part
      n'a été trouvée.
    </p>
    <p>
      Ces différences peuvent sembler mineures, mais en tant que contributeur appliquant ces
      directives, vous laissez le lecteur seul juge de la fiabilité de l'information. La présence de
      données erronées sur cette application peut mettre en danger des personnes, il est donc
      impensable d'y distribuer de l'information en demandant à être cru sur parole.
    </p>

    <h2 id="open-data">
      <i class="material-icons small">lock_open</i> Licences open source et open data
    </h2>
    <p>
      Mixtures.info est un <a href="https://fr.wikipedia.org/wiki/Logiciel_libre">logiciel libre</a>
      et <a href="https://fr.wikipedia.org/wiki/Open_source">open source</a>, distribué sous la
      licence <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPLv3</a>. L'entièreté de son
      code source est disponible sur <a href="https://github.com/x-yzt/mixtures">GitHub</a>. Cela
      signifie que vous êtes libre de comprendre le fonctionnement interne de cette application,
      mais aussi d'y contribuer ou de la copier, dans les limites des termes de cette licence.
    </p>
    <p>
      Les données présentes sur Mixtures.info sont également libres, puisque distribuées en <a href=
      "https://fr.wikipedia.org/wiki/Donn%C3%A9es_ouvertes">open data</a>. Elles sont en revanche
      distribuées sous la licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">
      CC-BY-SA 4.0</a>.
    </p>
    <p>
      Consultez les licences correspondantes pour savoir ce que vous pouvez légalement faire ou pas.
    </p>

    <h2>
      <i class="material-icons small">build</i> Technologies utilisées
    </h2>
    <p>
      Mixtures.info est programmé en Python et fièrement propulsé par le framework Django.
      L'affichage côté client utillise le framework Materialize, et l'application est hébergée sur
      la plateforme Heroku. Pour une liste exhaustive des technologies et bibliothèques logicielles
      utilisées, consultez le <a href="https://github.com/x-yzt/mixtures">code source</a>.
    </p>
  </div>
{% endblock %}