{% extends 'mixtures/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load collections %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'drugcombinator/css/combinator.min.css' %}">
{% endblock %}

{% block rels %}
  <link rel="canonical" href="{{ drugs.get_absolute_url }}"/>
{% endblock %}

{% block title %}
  {{ combination_name }} | {% translate 'Combination' %} | {{ block.super }}
{% endblock %}

{% block description %}
  {% blocktranslate with drugs=drugs|humanlist trimmed %}
    Risks and effects of the combination of {{ drugs }} substances.
  {% endblocktranslate %}
  {% translate 'Mixtures.info, synergies and risks of drug interactions.' %}
{% endblock %}

{% block content %}
  <div class="row">
    <h1>
      {% for drug in drugs %}
        <a href="{{ drug.get_absolute_url }}">{{ drug }}</a>
        {% if not forloop.last %}+{% endif %}
      {% endfor %}
    </h1>
    <div class="divider"></div>
  </div>

  {% if unknown_interactions and interactions %}
    <p class="flow-text warning">
      <i class="material-icons small left">warning</i>
      {% with count=unknown_interactions %}
        {% blocktranslate count _=count with number=count|apnumber trimmed %}
          Warning: {{ number }} interaction was not found in our database.
        {% plural %}
          Warning: {{ number }} interactions were not found in our database.
        {% endblocktranslate %}
      {% endwith %}
    </p>
  {% endif %}

  {% if drugs.count > 2 %}
    <p class="flow-text warning">
      <i class="material-icons small left">warning</i>
      {% blocktranslate with number=drugs.count|apnumber trimmed %}
        Caution: {{ number }} substances have been selected. Mixtures.info only provides information
        on substance pairs.
      {% endblocktranslate %}
    </p>
  {% endif %}

  {% for interaction in interactions %}
    {% include 'drugcombinator/interaction.html' %}
  {% empty %}
    <p class="flow-text">
      {% translate 'No interactions were found in our database.' %}
    </p>
    <p class="flow-text">
      {% translate 'This could be a good sign. Or not. Beware.' %}
    </p>
  {% endfor %}

  {% include 'drugcombinator/contrib_modal.html' %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'drugcombinator/js/reveal.js' %}"></script>
  <script src="{% static 'drugcombinator/js/contrib.js' %}"></script>
{% endblock %}
