{% extends 'mixtures/base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'drugcombinator/css/combinator.css' %}">
{% endblock %}

{% block title %}
    {{ combination_name }} | Combinaison {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ combination_name }}</h1>
        <div class="divider"></div>
    </div>

    {% for interaction in interactions %}
        {% include 'drugcombinator/interaction.html' %}
    {% empty %}
        <p class="flow-text">Aucune interaction n'a été trouvée dans notre base de données.</p>
        <p class="flow-text">Ça pourrait être bon signe. Ou pas. Méfiance.</p>
    {% endfor %}
    </div>
{% endblock %}