{% extends 'mixtures/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load mistune %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'drugcombinator/css/combinator.min.css' %}">
{% endblock %}

{% block description %}
  {% blocktranslate trimmed %}
    Risks and effects of combining the substance {{ drugs }} with other psychoactives.
  {% endblocktranslate %}
  {% translate 'Mixtures.info, synergies and risks of drug interactions.' %}
{% endblock %}

{% block title %}
  {{ drug }} | {% translate 'Substance' %} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <h1>{% translate 'Substance:' %} {{ drug }}</h1>
    <div class="divider"></div>
  </div>

  <div class="row">
    <div class="col s12 m9 l10 xl9">
      <div class="row">
        <h2 class="no-margin"><i class="material-icons small">info</i> {% translate 'About' %}</h2>
        {% if drug.description %}
          {{ drug.description|markdown }}
        {% else %}
          <p>{% translate 'No additional information available.' %}</p>
        {% endif %}

        {% if drug.risks or drug.effects %}
          <h2><i class="material-icons small">warning</i> {% translate 'Warnings' %}</h2>
          {{ drug.risks|markdown }}
          {{ drug.effects|markdown }}
        {% endif %}
      </div>

      <div class="row">
        {% for interaction in interactions %}
          {% include 'drugcombinator/interaction.html' %}
        {% empty %}
          <p class="flow-text">
            {% translate 'No interactions were found in our database.' %}
          </p>
        {% endfor %}
      </div>
    </div>

    <div id="sidebar" class="col s12 m3 l2 xl3">
      {% if interactions %}
        <div class="row">
          <button class="btn modal-trigger" data-target="embed-modal">
            <i class="material-icons left">addchart</i> {% translate 'Embed this data' %}
          </button>
        </div>
      {% endif %}

      {% include 'drugcombinator/toc.html' %}
  </div>

  {% if interactions %}
    {% include 'drugcombinator/mobile_sidebar.html' %}
  {% endif %}
 
  {% include 'drugcombinator/contrib_modal.html' %}
  {% include 'drugcombinator/embed_modal.html' %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'drugcombinator/js/mobile-sidebar.js' %}"></script>
  <script src="{% static 'drugcombinator/js/reveal.js' %}"></script>
  <script src="{% static 'drugcombinator/js/embed.js' %}"></script>
  <script src="{% static 'drugcombinator/js/contrib.js' %}"></script>
  <script src="{% static 'drugcombinator/js/sticky.js' %}"></script>
{% endblock %}
