{% load i18n %}
{% load collections %}
{% load strings %}

<div class="row card interaction" data-interaction-name="{{ interaction }}">

  {% if drugs|length != 2 %}
    <div class="col s12">
      <h2>
        <a href="{{ interaction.from_drug.get_absolute_url }}">{{ interaction.from_drug }}</a>
        +
        <a href="{{ interaction.to_drug.get_absolute_url }}">{{ interaction.to_drug }}</a>
      </h2>
    </div>
  {% endif %}

  <a
    {% if perms.drugcombinator.change_interaction %}
      class="btn btn-floating waves-effect waves-light"
      href="{% url 'admin:drugcombinator_interaction_change' interaction.pk %}"
    {% else %}
      id="contrib-{{ interaction.id }}"
      class="btn btn-floating waves-effect waves-light modal-trigger"
      data-target="contrib-modal"
    {% endif %}
  >
    <i class="material-icons">edit</i>
  </a>

  <div class="interaction-content {% if interaction.is_draft %}hidden{% endif %}">
    {% include 'drugcombinator/interaction_content.html' %}

    <div style="clear: both"></div>

    {% if interaction.is_draft %}
      <div class="draft-modal valign-wrapper">
        <i class="material-icons large">rowing</i>
        <p class="flow-text">{% translate 'Warning! This card is a draft.' %}</p>
        <p>
          {% blocktranslate trimmed %}
            This is a draft, not intended to deliver information, but to be reworked. Its content
            can be very incomplete, and even erroneous. If you want to help us, you can however view
            its content.
          {% endblocktranslate %}
        </p>
        <a class="waves-effect waves-light btn draft-modal-reveal">
          <i class="material-icons left">visibility</i>{% translate "I'll be careful, I promise" %}
        </a>
      </div>
    {% endif %}
  </div>
</div>
