{% load i18n %}
{% load markdown_deux_tags %}

<div class="row no-margin">
  <div class="col s12 m12 l6">
    <h3><i class="material-icons small">bubble_chart</i> {% translate 'Synergistic tendency' %}</h3>
    
    <div class="synergy synergy-{{ interaction.synergy }}">            
      {% include 'drugcombinator/combine_info/synergy_icon.html' with class='medium' %}
      <p class="label flow-text">{{ interaction.get_synergy_display }}</p>
    </div>
    
    <div class="valign-wrapper">
      <p>
        {% include 'drugcombinator/combine_info/synergy_text.html' %}
        {% if interaction.synergy != interaction.Synergy.UNKNOWN %}
          <br/>
          <em>
            {% translate 'Reliability:' %} {{ interaction.get_effects_reliability_display|lower }}.
          </em>
        {% endif %}
      </p>
    </div>
  </div>

  <div class="col s12 m12 l6">
    <h3><i class="material-icons small">error_outline</i> {% translate 'Estimated risk' %}</h3>

    <div class="risk risk-{{ interaction.risk }}">
        {% include 'drugcombinator/combine_info/risk_icon.html' with class='medium' %}
        <p class="label flow-text">{{ interaction.get_risk_display }}</p>
    </div>

    <div class="valign-wrapper">
      <p>
        {% include 'drugcombinator/combine_info/risk_text.html' %}
        {% if interaction.risk != interaction.Risk.UNKNOWN %}
          <br/>
          <em>
            {% translate 'Reliability:' %} {{ interaction.get_risk_reliability_display|lower }}.
          </em>
        {% endif %}
      </p>
    </div>
  </div>
</div>

<div class="row no-margin">
  <div class="col s12 m12 l6">
    <h3><i class="material-icons small">flare</i> {% translate 'About effects' %}</h3>
    
    {% if interaction.effect_description %}
      {% for interactant in interaction.interactants %}
        {% if drug != interactant %}
          {{ interactant.effects|markdown}}
        {% endif %}
      {% endfor %}
      {{ interaction.effect_description|markdown}}
    {% else %}
      <p>{% translate 'No additional information available.' %}</p>
    {% endif %}
  </div>

  <div class="col s12 m12 l6">
    <h3><i class="material-icons small">menu_book</i> {% translate 'About risks' %}</h3>

    {% if interaction.risk_description %}
      {% for interactant in interaction.interactants %}
        {% if drug != interactant %}
          {{ interactant.risks|markdown}}
        {% endif %}
      {% endfor %}
      {{ interaction.risk_description|markdown}}
    {% else %}
      <p>{% translate 'No additional information available.' %}</p>
    {% endif %}
  </div>
</div>
