{% load collections %}
{% load strings %}

<div class="row card interaction">

  {% if drugs|length != 2 %}
    <div class="col s12">
      <h2>
        <a href="{{ interaction.from_drug.get_absolute_url }}">{{ interaction.from_drug }}</a>
        +
        <a href="{{ interaction.to_drug.get_absolute_url }}">{{ interaction.to_drug }}</a>
      </h2>
    </div>
  {% endif %}

  <a class="btn btn-floating waves-effect waves-light" href="
    {% if perms.drugcombinator.change_interaction %}
      {% url 'admin:drugcombinator_interaction_change' interaction.pk %}
    {% else %}
      {% with subject='Contribution : '|cat:interaction %}
        {% mailto 'contact@mixtures.info' subject interaction.get_contrib_email_body|formatspaces %}
      {% endwith %}
    {% endif %}
  ">
    <i class="material-icons">edit</i>
  </a>

  <div class="interaction-content {% if interaction.is_draft %}hidden{% endif %}">
    {% include 'drugcombinator/interaction_content.html' %}

    <div style="clear: both"></div>

    {% if interaction.is_draft %}
      <div class="draft-modal valign-wrapper">
        <i class="material-icons large">rowing</i>
        <p class="flow-text">Attention ! Cette fiche est un brouillon.</p>
        <p>
          Il s'agit d'une ébauche, qui n'est pas destinée à délivrer de l'information, mais à être
          retravaillée. Son contenu peut être très lacunaire, voire faux. Si vous voulez nous aider,
          vous pouvez toutefois afficher son contenu.
        </p>
        <a class="waves-effect waves-light btn draft-modal-reveal">
          <i class="material-icons left">visibility</i>Je fais attention, promis
        </a>
      </div>
    {% endif %}
  </div>
</div>