{% extends 'mixtures/base.html' %}

{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'drugcombinator/css/combinator.css' %}">
{% endblock %}

{% block title %}
  {{ block.super }}, combinaisons de substances psychoactives
{% endblock %}

{% block content %}
  <div class="row">
    <h1>Combinaisons de substances psychoactives</h1>
    <h2>Synergies et risques liés aux interactions entre drogues</h2>
    <div class="divider"></div>
  </div>

  <div class="row">
    {% for drug in common_drugs %}
      <a id="drug-{{ drug.id }}" class="waves-effect waves-light btn drug">{{ drug }}</a>
    {% endfor %}

    <h3>Vous ne trouvez pas ce que vous cherchez ?</h3>

    <form action="" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col l6 m12 s12">
          <p>
            Seules les drogues les plus courantes sont répertoriées ci-dessus. D'autres substances
            sont disponibles dans cette liste.
          </p>
        </div>

        <div class="col l6 m8 offset-m2 s12">
          {{ combinator_form }}
        </div>
      </div>

      <div class="row">
        <div class="center-align">
          <button id="combine-submit" class="btn-large waves-effect waves-light"
              type="submit" name="action">Mélanger !
            <i class="material-icons right">merge_type</i>
          </button>
        </div>
      </div>
    </form>

    <div class="divider"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'drugcombinator/js/combinator.js' %}"></script>
  <script src="{% static 'mixtures/js/select_search.js' %}"></script>
{% endblock %}