{% extends 'mixtures/base.html' %}

{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'drugcombinator/css/iframes.min.css' %}">
{% endblock %}

{% block rels %}
  <base target="_parent">
{% endblock %}

{% block body %}
  <h1>{{ drug }} : Récapitulatif des interactions</h1>
  <div class="cards">
    {% for interaction in interactions %}
      <div class="risk-{{ interaction.risk }}">
        <a class="label" href="{{ interaction.get_absolute_url }}">
          {{ interaction.drug }}
          <br/>
          {% include 'drugcombinator/combine_info/synergy_icon.html' %}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
