{% load markdown_deux_tags %}

<div id="card-drug-{{ interaction.drug.id }}">
  <h3>{{ interaction.drug }}</h3>

  <h4><i class="material-icons small">bubble_chart</i> Tendance synergique</h4>
        
  <div class="synergy synergy-{{ interaction.synergy }}">            
    {% include 'drugcombinator/combine_info/synergy_icon.html' with class='medium' %}
    <p class="label flow-text">{{ interaction.get_synergy_display }}</p>
  </div>
  
  <p>
    {% include 'drugcombinator/combine_info/synergy_text.html' %}
    {% if interaction.synergy != interaction.Synergy.UNKNOWN %}
      <br/><em>Fiabilité : {{ interaction.get_effects_reliability_display|lower }}.</em>
    {% endif %}
  </p>

  <h4><i class="material-icons small">error_outline</i> Risque estimé</h4>

  <div class="risk risk-{{ interaction.risk }}">
    {% include 'drugcombinator/combine_info/risk_icon.html' with class='medium' %}
    <p class="label flow-text">{{ interaction.get_risk_display }}</p>
  </div>

  <p>
    {% include 'drugcombinator/combine_info/risk_text.html' %}
    {% if interaction.risk != interaction.Risk.UNKNOWN %}
      <br/><em>Fiabilité : {{ interaction.get_risk_reliability_display|lower }}.</em>
    {% endif %}
  </p>

  <h4><i class="material-icons small">flare</i> À propos des effets</h4>
    
  {% if interaction.effect_description %}
    {% for interactant in interaction.interactants %}
      {{ interactant.effects|markdown}}
    {% endfor %}
    {{ interaction.effect_description|markdown}}
  {% else %}
    <p>Aucune information supplémentaire n'est disponible.</p>
  {% endif %}

  <h4><i class="material-icons small">menu_book</i> À propos des risques</h4>

  {% if interaction.risk_description %}
    {% for interactant in interaction.interactants %}
      {{ interactant.risks|markdown}}
    {% endfor %}
    {{ interaction.risk_description|markdown}}
  {% else %}
    <p>Aucune information supplémentaire n'est disponible.</p>
  {% endif %}
</div>
    
    
    