{% extends 'mixtures/base.html' %}

{% load i18n %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{ portal.name }} - {{ block.super }}{% endblock %}

{% block description %}
  {% blocktranslate trimmed %}
    Mixtures.info is a harm reduction application. The {{ portal }} is dedicated to synergies and
    risks of drug interactions.
  {% endblocktranslate %}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'drugportals/css/portals.min.css' %}"/>
{% endblock %}

{% block logo %}
  <img src="{% static 'drugportals/img/logo.svg' %}" alt="Mixtures.info logo"/>
{% endblock %}

{% block nav-links %}
  <li><a href="{% url 'main' %}">{% translate 'Mixtures project' %}</a></li>
  <li><a href="{% url 'about' %}">{% translate 'About' %}</a></li>
{% endblock %}

{% block nav-links-mobile %}
  <li><a class="waves-effect" href="{% url 'main' %}">
    <i class="material-icons">merge_type</i>{% translate 'Mixtures project' %}
  </a></li>
  <li><a class="waves-effect" href="{% url 'about' %}">
    <i class="material-icons">help_outline</i>{% translate 'About' %}
  </a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <h1>{{ portal.name }}</h1>
    <span>
      {{ portal.drug.description|markdown }}
      {% blocktranslate trimmed %}
        This portal is intended to inform about the effects and risks of mixing with other drugs.
      {% endblocktranslate %}
    </span>

    <h2>{% translate 'Interactions with other substances' %}</h2>
    <div class="drug-selector">
      {% for interaction in interactions %}
        <a id="drug-{{ interaction.drug.slug }}" class="btn waves-effect waves-light">
          {{ interaction.drug }}
          {% if interaction.risk != interaction.Risk.NEUTRAL %}
            {% include 'drugcombinator/combine_info/risk_icon.html' %}
          {% endif %}
        </a>
      {% endfor %}
    </div>

    {% for interaction in interactions %}
      <div id="card-{{ interaction.drug.slug }}" class="interaction-content">
        <h2>{{ interaction.drug }}</h2>
        <p>{{ interaction.drug.description|markdown }}</p>
        {% include 'drugcombinator/interaction_content.html' %}
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="card-panel welcome">
      <img src={% static 'mixtures/img/icon.svg' %} class="left"/>
      <span>
        {% blocktranslate with attrs='href="mailto://contact@mixtures.info"' trimmed %}
          Mixtures.info aims to provide verifiable data on drug mixtures. This portal is only a
          preview of a much more ambitious project, which concerns most drugs commonly used. This is
          a long-term effort, and if you wish to support us in any way, <a {{ attrs }}>contact
          us</a>. Reviews and corrections are also welcome!
        {% endblocktranslate %}
      </span>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'drugportals/js/selector.js' %}"></script>
{% endblock %}
