{% extends 'mixtures/base.html' %}

{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{ portal.name }} - {{ block.super}}{% endblock %}

{% block description %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'drugportals/css/portals.min.css' %}"/>
{% endblock %}

{% block content %}
  <h1>{{ portal.name }}</h1>
  <p>{{ portal.drug.description|markdown }}</p>

  <h2>Interactions avec d'autres substances</h2>
  <div class="drug-selector">
    {% for interaction in interactions %}
      <a id="drug-{{ interaction.drug.id }}" class="btn waves-effect waves-light">
        {{ interaction.drug }}
        {% if interaction.risk != interaction.Risk.NEUTRAL %}
          {% include 'drugcombinator/combine_info/risk_icon.html' %}
        {% endif %}
      </a>
    {% endfor %}
  </div>

  {% for interaction in interactions %}
    <div id="card-{{ interaction.drug.id }}" class="interaction-content">
      <h2>{{ interaction.drug }}</h2>
      {% include 'drugcombinator/interaction_content.html' %}
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'drugportals/js/selector.js' %}"></script>
{% endblock %}