.inline-group .vertical-label label,
.vertical-label label {
    float: none;
    width: unset;
}

form .vertical-label div.help,
form .vertical-label textarea + div.help,
form .vertical-label label + div.readonly {
    margin-left: 0;
    padding-left: 0;
}